/* Root start */

:root {
    --MR: 'MR';
    --MSB: 'MSB';
    --MBI: 'MBI';
    --MB: 'MB';
    --TBI: 'TBI';
    --TB: 'TB';
    --background: white;
    --purple: #7177F1;
    --text: #323232;
    --dots: #828282;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: var(--MR);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

h1,h2,p,ul {
    margin: 0;
}

.logo::before {
    content: url(../images/svg/logo-light.svg);
}
.special-btn {
    background: var(--purple);
    color: white !important;
    padding: 10px 43px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    display: block;
}
.title {
    font-size: 40px;
    line-height: 49px;
    color: var(--purple);
    font-family: var(--MSB);
    text-transform: capitalize;
    margin-top: 75px;
    margin-bottom: 30px;
    text-align: center;
}





/* Root end */

/* Header start */

.header__nav {
    position: relative;
    padding: 15px 0;
}

.header__nav::before,
.section__capabilities::before,
.section__capabilities::after {
    content: '';
    display: block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 0.3vw solid #790FF1;
    position: absolute;
    top: 40px;
    left: 10%;
    z-index: -5;
    animation: animate 3s linear infinite;
}
.section__capabilities::before {
    border: 0.3vw solid #9297EF;
}
.section__capabilities::after{
    border: 0.3vw solid #9297EF;
    top: 0;
    left: 85% ;
}


.header__nav::after,
.header__slider::before,
.header__slider::after {
    content: '';
    display: block;
    width: 5vw;
    height: 5vw;
    border: 0.3vw solid #9297EF;
    position: absolute;
    top: 100px;
    right: 9%;
    z-index: -5;
    animation: animate 3s alternate infinite;
}

.header__slider::before {
    top: 7%;
    left: 3%;
}

.header__slider::after {
    right: 15%;
    top: 70%;
}



.header__nav-list {
    gap: 30px;
}

.header__nav-link {
    font-size: 24px;
    line-height: 16px;
    text-transform: capitalize;
    color: var(--purple);
    display: inline-block;
}
.header__nav-link:hover {
    color: var(--purple);
}

.header__nav-btn {
    color: var(--text);
    font-size: 40px;
}

.header__slider {
    margin-top: 30px;
    position: relative;
}



.header__slider-text {
    color: var(--text);
    font-size: 24px;
    line-height: 22px;
    text-transform: capitalize;
    font-family: var(--MSB);
}
.header__slider-title {
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    font-family: var(--MSB);
    color: var(--purple);
    margin: 10px 0 25px 0;
}
.header__slider-btn {
    max-width: 300px;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    margin: 0 auto;
}

.header__slider-bottom {
    margin-top: 50px;
}
.header__slider-icon {
    font-size: 90px;
}
.header__slider-desc {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: var(--MB);
    margin-top: 15px;
    color: var(--purple);
}
.html {
    color: #E44F26;
}
.css {
    color: #1572B6;
}
.bootstrap {
    color: #790FF1;
}

.header__slider-img {
    max-height: 500px;
}

.header__indicators-btn {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background: var(--dots);
    margin: 0 !important;
    border: none !important;
}
.header__indicators {
    column-gap: 30px;
    margin: 50px 0 0 0;
    position: static;
}

.header__indicators-btn.active {
    background: var(--purple);
}
/* Header end */

/* Main start */

.section__about {
    margin-top: 75px;
    position: relative;
}

.section__about::after {
    content: url(../images/svg/figure1.svg);
    display: block;
    position: absolute;
    z-index: -10;
    right: 0;
    top: -100%;
}


.section__about-left {
    position: relative;
    min-height: 450px;
}
.section__about-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    object-fit: cover;
}

.section__about-btn {
    max-width: 190px;
    width: 100%;
    padding: 23px 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    left: -80px;
}
.section__about-span {
    position: absolute;
    right: -15px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #0FDAC2;
    color: white;
    font-size: 18px;
    line-height: 100%;
    font-family: var(--MBI);
    border-radius: 50%;
}

.section__about-right {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    background: var(--background);
    padding: 30px;
    height: 100%;
}
.section__about-title {
    font-size: 40px;
    line-height: 30px;
    text-transform: capitalize;
    font-family: var(--MSB);
    color: var(--purple);
}
.section__about-text {
    font-size: 18px;
    line-height: 150%;
    color: var(--text);
    text-transform: capitalize;
    margin: 30px 0;
}
.section__about-link {
    max-width: 190px;
    width: 100%;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
}

.accordion__button {
    width: 100%;
    display: flex;
    align-items: center;
    border: none ;
    padding: 15px 30px;
    background: var(--purple);
    color: white;
}
.accordion__button.collapsed {
    background: var(--background);
    color: var(--purple);
}
.accordion__title {
    font-size: 18px;
    line-height: 22px;
    font-family: var(--MB);
    margin-left: 20px;
}
.accordion__icon {
    font-size: 30px;
}
.accordion__body{
    background: var(--purple);
    color: white;
    padding: 15px 30px;
}
.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
}
.accordion__arrow {
    transition: transform 300ms;
}
.accordion__button.collapsed  .accordion__arrow {
    transform: rotateX(180deg);
}

.accordion__item:nth-of-type(1) .accordion__button.collapsed .accordion__icon {
    color: #E44F26;
}
.accordion__item:nth-of-type(2) .accordion__button.collapsed .accordion__icon {
    color: #1572B6;
}
.accordion__item:nth-of-type(3) .accordion__button.collapsed .accordion__icon {
    color: #790FF1;
}


.section__capabilities {
    position: relative;
}

.section__work-link {
    background: var(--background);
    color: var(--purple);
    font-size: 18px;
    line-height: 22px;
    font-family: var(--MSB);
    text-transform: uppercase;
    padding: 20px;
    border: none;
}
.section__work-link:hover {
    background: var(--background);
    color: var(--purple);
}
.section__work-link.active {
    background: var(--purple);
    color: var(--background);
}
.section__work-list {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
}
.section__work-pane {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 20px;
    height: 100%;
}
.section__work-picture {
    height: 320px;
}
.section__work-img {
    object-fit: cover;
}
.section__work-title {
    font-size: 24px;
    line-height: 29px;
    font-family: var(--MSB);
    color: var(--purple);
}
.section__work-text {
    font-size: 18px;
    line-height: 150%;
    color: var(--text);
}
.section__work-btn{
    max-width: 190px;
    width: 100%;
    text-transform: capitalize;
    padding: 11px 0;
    text-align: center;
}

.section__works {
    position: relative;
    margin-bottom: 200px;
}
.section__works::before {
    content: url(../images/svg/figure2.svg);
    display: block;
    position: absolute;
    top: -50%;
    left: -10%;
    z-index: -5;
}
.section__work-pane {
  background: var(--background);  
}
/* Main end */


/* Footer start */
.footer__box-list-link,
.tel,
.email {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
    color: var(--text);
}

.footer__box {
    gap: 20px;
    padding-bottom: 133px;
    position: relative;
}

.footer__box::before {
    content: '';
    display: block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 0.3vw solid #790FF1;
    position: absolute;
    top: 100px;
    left: -20%;
    z-index: -5;
    animation: animate 3s alternate infinite;
}
/* Footer end */


/* Media start */

@keyframes animate {
    0%{
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}



@media(prefers-color-scheme: dark) {
    :root {
        --background: #151437;
        --text: white;
        --dots: #EBEBEB;
    }
    .logo::before {
        content: url(../images/svg/logo-dark.svg);
    }
}

@media (max-width:1200px) {
    .section__about-right{
        margin-top: 30px;
    }
    .section__about-btn {
        left: 0;
    }
    .section__about::after{
        display: none;
    }
    .section__capabilities-right {
        margin-top: 40px;
    }
    .section__works::before{
        display: none;
    }
    .tab-content {
        margin-top: 50px;
    }
    .section__work-text {
        margin: 20px 0;
    }
    .section__work-title {
        margin-top: 20px;
    }
}


@media (max-width: 576px) {
    .section__about-title {
        font-size: 22px;
        line-height: 22px;
    }
    .header__slider-title {
        font-size: 24px;
        line-height: 24px;
    }
    .header__slider-bottom {
        row-gap: 20px;
    }

    .footer__box {
        justify-content: center !important;
        align-items: center !important;
    }

    .footer__box-list,
    .footer__box-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}




/* Media end */